<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conjuntos numéricos</title>
</head>

<body style="display: block; width: 100vw;">
    <div style="width: 60vw; height: 100vh; margin: 0 auto;">
        <h1>Conjuntos numéricos</h1>

        <div>
            Os conjuntos numéricos reúnem diversos conjuntos cujos elementos são números. Eles são formados pelos
            números naturais, inteiros, racionais, irracionais e reais. O ramo da matemática que estuda os conjuntos
            numéricos é a Teoria dos conjuntos.
        </div>

        <div>
            Confira abaixo as características de cada um deles tais como conceito, símbolo e subconjuntos.
        </div>

        <h1>Conjunto dos Números Naturais (N)</h1>
        <div>
            O conjunto dos números naturais é representado por N. Ele reúne os números que usamos para contar (incluindo
            o zero) e é infinito.
        </div>

        <div>
            <ul>
                <li><b>N*</b> = {1, 2, 3, 4, 5..., n, ...} ou N* = N – {0}: conjuntos dos números naturais não-nulos, ou
                    seja, sem o zero.</li>
                <li><b>Np</b> = {0, 2, 4, 6, 8..., 2n, ...}, em que n ∈ N: conjunto dos números naturais pares.</li>
                <li><b>Ni</b> = {1, 3, 5, 7, 9..., 2n+1, ...}, em que n ∈ N: conjunto dos números naturais ímpares.</li>
                <li><b>P</b> = {2, 3, 5, 7, 11, 13, ...}: conjunto dos números naturais primos.</li>
            </ul>
        </div>

        <h1>Conjunto dos Números Inteiros (Z)</h1>
        <div>O conjunto dos números inteiros é representado por Z. Reúne todos os elementos dos números naturais (N) e
            seus opostos. Assim, conclui-se que N é um subconjunto de Z (N ⊂ Z):</div>

        <h1>Subconjuntos dos Números Inteiros</h1>
        <div>
            <ul>
                <li><b>Z*</b> = {..., –4, –3, –2, –1, 1, 2, 3, 4, ...} ou Z* = Z – {0}: conjuntos dos números inteiros
                    não-nulos, ou seja, sem o zero.</li>
                <li><b>Z+</b> = {0, 1, 2, 3, 4, 5, ...}: conjunto dos números inteiros e não-negativos. Note que Z+ = N.
                </li>
                <li><b>Z*+</b> = {1, 2, 3, 4, 5, ...}: conjunto dos números inteiros positivos e sem o zero.</li>
                <li><b>Z –</b> = {..., –5, –4, –3, –2, –1, 0}: conjunto dos números inteiros não-positivos.</li>
                <li><b>Z*–</b> = {..., –5, –4, –3, –2, –1}: conjunto dos números inteiros negativos e sem o zero.</li>
            </ul>
        </div>

        <h1>Conjunto dos Números Racionais (Q)</h1>
        <div>
            O conjunto dos números racionais é representado por Q. Reúne todos os números que podem ser escritos na
            forma p/q, sendo p e q números inteiros e q≠0.
        </div>
        <div>
            Q = {0, ±1, ±1/2, ±1/3, ..., ±2, ±2/3, ±2/5, ..., ±3, ±3/2, ±3/4, ...}
        </div>
        <div>
            Note que todo número inteiro é também número racional. Assim, Z é um subconjunto de Q.
        </div>

        <h1>Subconjuntos dos Números Racionais</h1>

        <div>
            <ul>
                <li><b>Q*</b> = subconjunto dos números racionais não-nulos, formado pelos números racionais sem o zero.
                </li>
                <li><b>Q+</b> = subconjunto dos números racionais não-negativos, formado pelos números racionais
                    positivos e o zero.</li>
                <li><b>Q*+</b> = subconjunto dos números racionais positivos, formado pelos números racionais positivos,
                    sem o zero.</li>
                <li><b>Q–</b> = subconjunto dos números racionais não-positivos, formado pelos números racionais
                    negativos e o zero.</li>
                <li><b>Q*–</b> = subconjunto dos números racionais negativos, formado números racionais negativos, sem o
                    zero.</li>
            </ul>
        </div>

        <h1>Conjunto dos Números Irracionais (I)</h1>

        <div>
            O conjunto dos números irracionais é representado por I. Reúne os números decimais não exatos com uma
            representação infinita e não periódica, por exemplo: 3,141592... ou 1,203040...
        </div>

        <h1>Conjunto dos Números Reais (R)</h1>

        <div>
            O conjunto dos números reais é representado por R. Esse conjunto é formado pelos números racionais (Q) e
            irracionais (I). Assim, temos que R = Q ∪ I. Além disso, N, Z, Q e I são subconjuntos de R.
        </div>

        <h1>Subconjuntos dos Números Reais</h1>

        <div>
            <ul>
                <li><b>R*</b>= {x ∈ R│x ≠ 0}: conjunto dos números reais não-nulos.</li>
                <li><b>R+</b> = {x ∈ R│x ≥ 0}: conjunto dos números reais não-negativos.</li>
                <li><b>R*+</b> = {x ∈ R│x > 0}: conjunto dos números reais positivos.</li>
                <li><b>R–</b> = {x ∈ R│x ≤ 0}: conjunto dos números reais não-positivos.</li>
                <li><b>R*–</b> = {x ∈ R│x < 0}: conjunto dos números reais negativos.</li>
            </ul>
        </div>

        <h1>Propriedades dos Conjuntos Numéricos</h1>

        <div style="margin-bottom: 2rem;">
            <img src="https://static.todamateria.com.br/upload/di/gr/digrama.jpg" alt="Imagem Diagrama">
            <p>Diagrama dos conjuntos numéricos</p>
        </div>
    </div>
</body>

</html>